@use "../mixin/typography";
@use "../abstracts/colors";
@use "../abstracts/breakpoints";
@use "../components";
@use "../mixin/media-query";

.workflow {
    background-image: url("/public/assets/images/line.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
    padding-top: 96px;
    cursor: url("/public/assets/images/rounded-cursor.svg"), auto;
    .container {
        max-width: breakpoints.$xxl;
        padding: 0px 107px;
        margin: 0px auto;
        .strip-text {
            @include typography.strip-text(17px, colors.$text);
        }
        .title {
            @include typography.title(34px, colors.$text);
        }
        .workflow-items {
            display: flex;
            justify-content: space-between;
            position: relative;
            gap: 32px;
            .rounded-icon-wrapper {
                background-color: colors.$text-light;
                padding: 24px;
                box-shadow: 2px;
                margin-bottom: 24px;
                width: max-content;
                height: max-content;
                border-radius: 100%;
                box-shadow: 0px 0px 48px -10px rgba(250, 196, 104, 0.374);
            }
            .workflow-item {
                padding: 0px;
                .paragraph {
                    @include typography.paragraph(14px, colors.$text);
                }
                .workflow-icon {
                    width: 97px;
                }
                .workflow-title {
                    font-size: 34px;
                    color: colors.$text;
                }
            }

            .workflow-item:nth-child(1) {
                padding-top: 20%;
            }

            .workflow-item:nth-child(2) {
                padding-top: 13%;
            }

            .workflow-item:nth-child(3) {
                padding-top: 14%;
            }

            .workflow-item:nth-child(4) {
                padding-top: 8%;
            }
        }
        @include media-query.min(1800px) {
            max-width: 1700px;
            .strip-text {
                @include typography.strip-text(23px, colors.$text);
            }
            .title {
                @include typography.title(46px, colors.$text);
            }
            .workflow-items {
                .workflow-item {
                    .paragraph {
                        @include typography.paragraph(23px, colors.$text);
                    }
                    .workflow-title {
                        font-size: 30px;
                    }
                }
                .workflow-item:nth-child(1) {
                    padding-top: 160px;
                }

                .workflow-item:nth-child(2) {
                    padding-top: 100px;
                }

                .workflow-item:nth-child(3) {
                    padding-top: 100px;
                }
                .workflow-item:nth-child(4) {
                    padding: 0px;
                    position: relative;
                    top: -32px;
                }
            }
        }

        @include media-query.max(1799px) {
            .strip-text {
                @include typography.strip-text(17px, colors.$text);
            }
            .title {
                @include typography.title(34px, colors.$text);
            }
            .workflow-items {
                .workflow-item {
                    .paragraph {
                        @include typography.paragraph(17px, colors.$text);
                    }
                    .workflow-title {
                        font-size: 22px;
                    }
                }
                .workflow-item:nth-child(1) {
                    padding-top: 188px;
                }

                .workflow-item:nth-child(2) {
                    padding-top: 120px;
                }

                .workflow-item:nth-child(3) {
                    padding-top: 126px;
                }
                .workflow-item:nth-child(4) {
                    padding-top: 0px;
                }
            }
        }
        @include media-query.max(1580px) {
            .workflow-items {
                .workflow-item:nth-child(1) {
                    padding-top: 10%;
                }
                .workflow-item:nth-child(2) {
                    padding-top: 6%;
                }

                .workflow-item:nth-child(3) {
                    padding-top: 6%;
                }
                .workflow-item:nth-child(4) {
                    padding: 0px;
                    position: relative;
                    top: -32px;
                }
            }
        }

        @include media-query.max(1440px) {
            .workflow-items {
                .workflow-item:nth-child(1) {
                    padding-top: 98px;
                }
                .workflow-item:nth-child(2) {
                    padding-top: 32px;
                }

                .workflow-item:nth-child(3) {
                    padding-top: 48px;
                }
                .workflow-item:nth-child(4) {
                    padding: 0px;
                    position: relative;
                    top: -38px;
                }
            }
        }

        @include media-query.max(breakpoints.$xl) {
            .title {
                @include typography.title(20px, colors.$text);
            }
            .strip-text {
                @include typography.strip-text(14px, colors.$text);
            }
            .workflow-items {
                .workflow-item {
                    .workflow-icon {
                        width: 67px;
                    }
                    .paragraph {
                        @include typography.paragraph(14px, colors.$text);
                    }
                    .workflow-title {
                        font-size: 20px;
                    }
                }
                .workflow-item:nth-child(1) {
                    padding-top: 180px;
                }

                .workflow-item:nth-child(2) {
                    padding-top: 148px;
                }

                .workflow-item:nth-child(3) {
                    padding-top: 148px;
                }
                .workflow-item:nth-child(4) {
                    padding-top: 80px;
                }
            }
        }
        @include media-query.max(breakpoints.$lg) {
            .workflow-items {
                .workflow-item {
                    .paragraph {
                        @include typography.paragraph(12px, colors.$text);
                    }
                    .workflow-title {
                        font-size: 16px;
                    }
                }
                .workflow-item:nth-child(1) {
                    position: relative;
                    top: -56px;
                }

                .workflow-item:nth-child(2) {
                    position: relative;
                    top: -56px;
                }

                .workflow-item:nth-child(3) {
                    position: relative;
                    top: -58px;
                }
                .workflow-item:nth-child(4) {
                    position: relative;
                    top: -70px;
                }
            }
        }

        @include media-query.max(breakpoints.$md) {
            .workflow-items {
                flex-direction: column;
                gap: 0px;
                margin-top: 72px;
                position: static;
                padding: 0px;
                .workflow-item {
                    position: static;
                    display: flex;
                    justify-items: center;
                    gap: 16px;
                    .paragraph {
                        @include typography.paragraph(16px, colors.$text);
                    }
                    .workflow-title {
                        font-size: 19px;
                    }
                }
                .workflow-item:nth-child(1) {
                    position: static;
                    padding: 0px;
                    top: 0px;
                }

                .workflow-item:nth-child(2) {
                    position: static;
                    padding: 0px;
                    top: 0px;
                }

                .workflow-item:nth-child(3) {
                    position: static;
                    padding: 0px;
                    top: 0px;
                }
                .workflow-item:nth-child(4) {
                    position: static;
                    padding: 0px;
                    top: 0px;
                }
            }
        }
    }

    @include media-query.max(breakpoints.$xl) {
        background-position: right -24px top 120px;
        .container {
            padding: 0px 40px;
        }
    }

    @include media-query.max(breakpoints.$md) {
        background-image: none;
    }
}

.service {
    margin: 80px 0px;
    background-color: colors.$light;
    padding: 80px 0px;
    background-image: url("/public/assets/images/section-pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    .container {
        max-width: breakpoints.$xxl;
        padding: 0px 107px;
        margin: 0px auto;
        .strip-text {
            @include typography.strip-text(17px, colors.$text);
            font-size: 600;
        }
        .title {
            @include typography.title(35px, colors.$text);
            margin-top: 24px;
        }
        .service-items {
            overflow-y: hidden;
            overflow-x: scroll;
            display: grid;
            grid-template-columns: repeat(3, minmax(min(240px, 100%), 1fr));
            gap: 32px;
            height: max-content;
            scrollbar-width: none;
            .service-item {
                padding: 37px 40px;
                background-color: colors.$text-light;
                border-radius: 24px;
                height: max-content;
                border: solid 1px colors.$border;
                min-width: 220px;
                margin-top: 26px;
                .service-header {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    gap: 24px;
                    .service-number {
                        text-align: end;
                        color: colors.$warning;
                        font-size: 32px;
                    }
                    img {
                        width: 50%;
                    }
                }
                .service-title {
                    @include typography.title(26px, colors.$text);
                    font-weight: 500 !important;
                }
                .button-primary {
                    gap: 14px;
                    display: flex;
                    font-weight: 400;
                    align-items: center;
                    white-space: nowrap;
                    font-size: 17px;
                    height: max-content;
                    img {
                        width: 24px;
                    }
                }
                @include media-query.min(breakpoints.$xxl) {
                    .service-title {
                        font-size: 26px;
                    }
                }
                @include media-query.max(breakpoints.$xl) {
                    min-width: 80px;
                    padding: 24px;
                    .button-primary {
                        font-size: 14px;
                        padding: 6px 24px;
                    }
                    .service-title {
                        font-size: 18px;
                    }
                    .service-header {
                        .service-number {
                            font-size: 26px;
                        }
                    }
                }
                @include media-query.max(breakpoints.$lg) {
                    .service-header {
                        img {
                            width: 80px;
                        }
                    }
                    .button-primary {
                        padding: 6px 14px;
                    }
                }
            }
        }
        .service-items::-webkit-scrollbar {
            display: none;
        }

        @include media-query.min(1800px) {
            max-width: 1700px;
            .strip-text {
                @include typography.strip-text(23px, colors.$text);
            }
            .title {
                @include typography.title(48px, colors.$text);
            }

            .service-items {
                margin-top: 70px;
                .service-item {
                    .service-header {
                        .service-number {
                            font-size: 42px;
                        }
                    }
                    .service-title {
                        @include typography.title(35px, colors.$text);
                    }
                    .button-primary {
                        gap: 19px;
                        font-size: 23px;
                        padding: 14px 40px;
                        img {
                            width: 26px;
                        }
                    }
                }
            }
        }
        @include media-query.max(breakpoints.$xl) {
            .strip-text {
                @include typography.strip-text(14px, colors.$text);
            }
            .title {
                @include typography.title(20px, colors.$text);
            }
        }
        @include media-query.max(breakpoints.$lg) {
            padding: 0px 40px;
            .service-items {
                gap: 16px;
            }
        }
    }
}

.project {
    .container {
        max-width: breakpoints.$xxl;
        padding: 0px 107px;
        margin: 0px auto;
        margin-bottom: 80px;
        .title-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 68px;
            .strip-text {
                @include typography.strip-text(17px, colors.$text);
            }
            .title {
                @include typography.title(40px, colors.$text);
            }
        }
        .swiper-container {
            position: relative;
            padding: 0px 40px;
            .swpiper-button {
                background-color: colors.$warning;
                width: 88px;
                height: 88px;
                padding: 8px;
                border-radius: 88px;
                color: colors.$text;
                position: absolute;
                top: 44%;
                z-index: 3;
            }
            .prev {
                left: -8px;
            }
            .prev.swiper-button-disabled {
                opacity: 1;
                background-color: colors.$warning-light;
            }
            .next {
                right: -8px;
            }
            .next.swiper-button-disabled {
                opacity: 1;
                background-color: colors.$warning-light;
            }
            .project-items {
                .swiper-wrapper {
                    height: max-content;
                    .project-item {
                        width: 100%;
                        position: relative;
                        .project-image {
                            filter: opacity(0.2);
                            width: 100%;
                            border-radius: 52px;
                            min-height: 380px;
                            object-fit: cover;
                        }
                        .project-content {
                            border-radius: 52px;
                            position: absolute;
                            flex-direction: column;
                            top: 0px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            padding: 24px 110px;
                            text-align: left;
                            box-sizing: border-box;
                            .title {
                                @include typography.title(53px, colors.$text);
                                margin-top: 26px;
                                margin-bottom: 20px;
                                line-height: 100%;
                            }
                            .subtitle {
                                @include typography.subtitle(
                                    22px,
                                    colors.$text
                                );
                                font-weight: 500;
                                line-height: 100%;
                            }
                            .description {
                                @include typography.paragraph(
                                    32px,
                                    colors.$text
                                );
                                line-height: 100%;
                            }
                            .project-detail {
                                display: flex;
                                width: 100%;
                                justify-content: end;
                            }
                            .button-detail {
                                display: flex;
                                position: absolute;
                                bottom: 67px;
                                align-items: center;
                                gap: 16px;
                                font-size: 28px;
                                color: colors.$text;
                                img {
                                    width: 36px;
                                    border-radius: 36px;
                                    padding: 8px;
                                    background-color: colors.$text;
                                }
                            }
                        }
                    }
                }
            }
            @include media-query.min(1800px) {
                .swpiper-button {
                    width: 130px;
                    height: 130px;
                    top: 40%;
                    border-radius: 130px;
                }
                .prev {
                    left: -32px;
                }
                .next {
                    right: -32px;
                }
                .project-items {
                    .swiper-wrapper {
                        .project-item {
                            .project-content {
                                .title {
                                    @include typography.title(
                                        70px,
                                        colors.$text
                                    );
                                }
                                .subtitle {
                                    @include typography.subtitle(
                                        28px,
                                        colors.$text
                                    );
                                }
                                .description {
                                    @include typography.paragraph(
                                        43px,
                                        colors.$text
                                    );
                                }
                            }
                        }
                    }
                }
            }
            @include media-query.max(breakpoints.$xxl) {
                .project-items {
                    .swiper-wrapper {
                        .project-item {
                            .project-content {
                                .button-detail {
                                    bottom: 32px;
                                }
                            }
                        }
                    }
                }
            }
            @include media-query.max(breakpoints.$xl) {
                .swpiper-button {
                    width: 60px;
                    height: 60px;
                    top: 50%;
                    border-radius: 60px;
                }
                .prev {
                    left: 8px;
                }
                .next {
                    right: 8px;
                }
                .project-items {
                    .swiper-wrapper {
                        .project-item {
                            .project-content {
                                .title {
                                    @include typography.title(
                                        36px,
                                        colors.$text
                                    );
                                    margin-top: 10px;
                                    margin-bottom: 12px;
                                    line-height: 100%;
                                }
                                .subtitle {
                                    @include typography.subtitle(
                                        17px,
                                        colors.$text
                                    );
                                    margin: 0px;
                                }
                                .description {
                                    @include typography.paragraph(
                                        23px,
                                        colors.$text
                                    );
                                    margin: 0px;
                                }
                                .button-detail {
                                    font-size: 20px;
                                    img {
                                        width: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include media-query.max(breakpoints.$md) {
                padding: 0px;
                .swpiper-button {
                    width: 56px;
                    height: 56px;
                    padding: 8px;
                    border-radius: 100%;
                    top: 44%;
                    z-index: 3;
                    box-sizing: border-box;
                }
                .prev {
                    left: 16px;
                }
                .next {
                    right: 16px;
                }

                .project-items {
                    .swiper-wrapper {
                        .project-item {
                            .project-image {
                                filter: opacity(1);
                                border-radius: 24px;
                                box-sizing: border-box;
                            }
                            .project-content {
                                box-sizing: border-box;
                                background-color: rgba(255, 255, 255, 0.747);
                                height: max-content;
                                width: auto;
                                top: auto;
                                left: 16px;
                                right: 16px;
                                bottom: 16px;
                                padding: 20px;
                                border-radius: 12px;
                                .title {
                                    @include typography.title(
                                        23px,
                                        colors.$text
                                    );
                                    margin-top: 8px;
                                    margin-bottom: 9px;
                                    line-height: 100%;
                                }
                                .subtitle {
                                    @include typography.subtitle(
                                        13px,
                                        colors.$text
                                    );
                                    margin: 0px;
                                }
                                .description {
                                    @include typography.paragraph(
                                        15px,
                                        colors.$text
                                    );
                                    margin: 0px;
                                }
                                .project-detail {
                                    margin-top: 8px;
                                    gap: 8px;
                                }
                                .button-detail {
                                    bottom: 28px;
                                    font-size: 14px;
                                    img {
                                        width: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @include media-query.min(1800px) {
            max-width: 1700px;
            .title-wrapper {
                .strip-text {
                    @include typography.strip-text(23px, colors.$text);
                }
                .title {
                    @include typography.title(50px, colors.$text);
                }
            }
        }
        @include media-query.max(breakpoints.$xxl) {
            max-width: 1700px;
            .title-wrapper {
                .strip-text {
                    @include typography.strip-text(17px, colors.$text);
                }
                .title {
                    @include typography.title(35px, colors.$text);
                }
            }
        }
        @include media-query.max(breakpoints.$xl) {
            padding: 0px 40px;
            .project-items {
                .swpiper-button {
                    width: 32px;
                    height: 32px;
                    padding: 12px;
                    border-radius: 48px;
                }

                .swiper-wrapper {
                    height: max-content;

                    .project-item {
                        .project-image {
                            border-radius: 32px;
                        }
                        .project-content {
                            border-radius: 24px;
                        }
                    }
                }
            }
            .title-wrapper {
                margin-bottom: 40px;
                .strip-text {
                    @include typography.strip-text(14px, colors.$text);
                }
                .title {
                    @include typography.title(23px, colors.$text);
                }
            }
        }
        @include media-query.max(breakpoints.$md) {
            .title-wrapper {
                .strip-text {
                    @include typography.strip-text(12px, colors.$text);
                }
            }
        }
    }
}

.contact-us {
    margin: 80px 0px;
    background-image: url("/public/assets/images/contact-pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    .container {
        max-width: breakpoints.$xxl;
        padding: 0px 107px;
        margin: 0px auto;
        gap: 32px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        .text-wrapper {
            .line {
                width: 120px;
                height: 1px;
                display: block;
                background-color: colors.$border;
            }
            .strip-text {
                @include typography.strip-text(17px, colors.$text);
            }
            .title {
                @include typography.title(34px, colors.$text);
            }
            .paragraph {
                @include typography.paragraph(20px, colors.$text);
            }
        }
        .form-wrapper {
            padding: 0px 36px;
            form {
                background-color: colors.$warm;
                padding: 40px;
                border-radius: 24px;
            }

            .button-submit {
                font-size: 19px;
                font-weight: 500;
                img {
                    width: 32px;
                }
            }
        }
        @include media-query.min(1800px) {
            max-width: 1700px;
            .form-wrapper {
                .button-submit {
                    font-size: 26px;
                    padding: 24px 0px;
                    border-radius: 72px;
                    margin-top: 50px;
                }
            }
            .text-wrapper {
                .strip-text {
                    @include typography.strip-text(23px, colors.$text);
                }
                .title {
                    @include typography.title(48px, colors.$text);
                }
                .paragraph {
                    @include typography.paragraph(27px, colors.$text);
                }
            }
        }
        @include media-query.max(breakpoints.$xl) {
            padding: 0px 40px;
            .form-wrapper {
                padding: 0px;
            }
        }

        @include media-query.max(breakpoints.$lg) {
            padding: 0px 40px;
            .form-wrapper {
                padding: 0px;
            }
            .text-wrapper {
                .strip-text {
                    @include typography.strip-text(14px, colors.$text);
                }
                .title {
                    @include typography.title(24px, colors.$text);
                }

                .paragraph {
                    @include typography.paragraph(14px, colors.$text);
                }
            }
        }
    }
}

.testimonial {
    background-color: colors.$light;
    height: max-content;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        max-width: breakpoints.$xxl;
        padding: 59px 107px;
        align-items: center;
        margin: 0px auto;
        .strip-text {
            @include typography.strip-text(17px, colors.$text);
        }
        .title {
            @include typography.title(37px, colors.$text);
        }
        .testimonial-detail-wrapper {
            height: max-content;
            .testimonial-content {
                display: grid;
                grid-auto-columns: 1fr;
                grid-template-columns: 98px 1fr;
                grid-template-rows: max-content max-content;
                gap: 58px 24px;
                .quotes {
                    display: flex;
                    align-items: start;
                    gap: 24px;
                    .paragraph {
                        @include typography.paragraph(26px, colors.$text);
                        max-width: 58ch;
                    }
                }
            }
            .icon-quotes {
                margin-top: 16px;
                margin-left: auto;
            }
            .client {
                display: flex;
                gap: 16px;
                .title {
                    font-size: 27px;
                    padding: 0px;
                    margin: 0px;
                    font-weight: 500;
                }
                .description {
                    font-size: 27px;
                    font-weight: 300;
                }
            }
            .client-avatar {
                width: 98px;
                aspect-ratio: 1/1;
            }
        }
        .testimonial-image-wrapper {
            height: 30vw;
            .inner-image {
                position: absolute;
                right: 0;
                .button-wrapper {
                    position: absolute;
                    left: -89px;
                    top: 72px;
                    width: 120px;
                    .button-group {
                        width: max-content;
                        display: flex;
                        background-color: colors.$primary;
                        border-radius: 100%;
                        button {
                            background-color: colors.$primary;
                            margin: 0px;
                            padding: 14px 21px;
                            border: none;
                            height: 100%;
                            width: 100%;
                            aspect-ratio: 1/1;
                            img {
                                width: 48px;
                            }
                        }
                        .testimonial-button-prev {
                            border-radius: 0 100% 100% 0;
                        }
                        .testimonial-button-next {
                            border-radius: 100% 0 0 100%;
                        }
                        .testimonial-button-prev.swiper-button-disabled {
                            background-color: colors.$secondary;
                        }
                        .testimonial-button-next.swiper-button-disabled {
                            background-color: colors.$secondary;
                        }
                    }
                }
                .client-image {
                    min-width: 280px;
                    width: 30vw;
                    aspect-ratio: 1/1;
                    border-radius: 40px 0px 0px 40px;
                }
            }

            @include media-query.max(breakpoints.$md) {
                height: auto;
                display: flex;
                justify-content: end;
                .inner-image {
                    position: relative;
                    width: max-content;
                    right: -40px;
                    margin-top: 32px;
                }
            }
        }
        @include media-query.min(1800px) {
            max-width: 1700px;
            .strip-text {
                @include typography.strip-text(23px, colors.$text);
            }
            .title {
                @include typography.title(50px, colors.$text);
            }
        }
        @include media-query.max(breakpoints.$xxl) {
            .testimonial-detail-wrapper {
                .testimonial-content {
                    grid-template-columns: 68px 1fr;
                    .quotes {
                        .paragraph {
                            @include typography.paragraph(20px, colors.$text);
                        }
                    }
                    .client {
                        .title {
                            font-size: 22px;
                        }
                        .description {
                            font-size: 22px;
                        }
                    }
                    .client-avatar {
                        width: 68px;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }
        @include media-query.max(breakpoints.$xl) {
            padding: 59px 40px;
            .title {
                @include typography.title(23px, colors.$text);
            }
            .strip-text {
                @include typography.strip-text(14px, colors.$text);
            }
            .testimonial-detail-wrapper {
                height: max-content;
                .testimonial-content {
                    grid-template-columns: 68px 1fr;
                    gap: 32px 16px;
                    .quotes {
                        .paragraph {
                            @include typography.paragraph(17px, colors.$text);
                        }
                    }
                }
                .client {
                    .title {
                        font-size: 17px;
                    }
                    .description {
                        font-size: 17px;
                    }
                }
                .client-avatar {
                    width: 68px;
                }
                .icon-quotes {
                    width: 32px;
                }
            }

            .testimonial-image-wrapper {
                .inner-image {
                    .button-wrapper {
                        left: -72px;
                        .button-group {
                            button {
                                border: none;
                                img {
                                    width: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
