@use "../abstracts/breakpoints";
@use "../mixin/media-query";
@use "../abstracts/colors";

.nav {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 10;
    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: breakpoints.$xxl;
        margin: 0px auto;
        padding: 35px 61px;
        .menu-wrapper {
            display: flex;
            align-items: center;
            gap: 60px;
            .nav-brand {
                width: 148px;
                img {
                    width: 100%;
                }
            }
            .nav-items {
                display: flex;
                list-style: none;
                gap: 40px;
                .nav-item {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                }
                .nav-item.active {
                    color: colors.$warning;
                }
            }
        }
        .button-wrapper {
            display: flex;
            align-items: center;
            gap: 40px;
            .toggle-button {
                width: 32px;
                height: 24px;
                background-color: transparent;
                border: none;
                padding: 4px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: colors.$text-light;
                    border-radius: 2px;
                    transition: 300ms;
                }
            }
            .lang-wrapper {
                position: relative;
                display: flex;
                .lang-dropdown:hover {
                    cursor: pointer;
                }
                .lang-dropdown {
                    background-color: colors.$primary;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: colors.$text-light;
                    border: none;
                    border-radius: 8px;
                    padding: 11px 18px;
                    .lang-text {
                        font-size: 17px;
                    }
                    .flag {
                        width: 30px;
                    }
                    .icon {
                        width: 20px;
                    }
                }
                .lang-list {
                    display: none;
                    position: absolute;
                    width: 100%;
                    box-sizing: border-box;
                    top: 52px;
                    right: 0;
                    background-color: colors.$primary;
                    padding: 16px 24px;
                    border-radius: 8px;
                    .lang-header {
                        display: none;
                    }
                    .lang-button {
                        background-color: transparent;
                        border: none;
                        padding: 8px 0px;
                        font-size: 18px;
                        color: colors.$text-light;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        .flag {
                            width: 30px;
                        }
                    }
                    .lang-button:hover {
                        cursor: pointer;
                    }
                }
            }
            .lang-list.active {
                display: block;
            }
        }
        @include media-query.min(1800px) {
            max-width: 1700px;
            .menu-wrapper {
                .nav-brand {
                    width: 196px;
                }
                .nav-items {
                    .nav-item {
                        font-size: 24px;
                    }
                }
            }
            .button-wrapper {
                .lang-wrapper {
                    .lang-dropdown {
                        padding: 18px 24px;
                        border-radius: 16px;
                        .lang-text {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        @include media-query.max(1379px) {
            .menu-wrapper {
                .nav-items {
                    .nav-item {
                        font-size: 16px;
                    }
                }
            }
        }
        @include media-query.max(breakpoints.$xl) {
            padding: 22px 40px;
            .menu-wrapper {
                .nav-items {
                    display: none;
                }
                .nav-items.active {
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 24px;
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    padding-left: 188px;
                    background-color: colors.$primary;
                    .nav-item {
                        font-size: 24px;
                        max-width: breakpoints.$sm;
                    }
                }
            }
            .button-wrapper {
                .toggle-button {
                    display: flex;
                }
                .toggle-button.active {
                    span:nth-child(1) {
                        transform: rotate(45deg) translate(4px, 5px);
                    }
                    span:nth-child(2) {
                        scale: 0;
                    }
                    span:nth-child(3) {
                        transform: rotate(-45deg) translate(5px, -6px);
                    }
                }
            }
        }
        @include media-query.max(breakpoints.$md) {
            .menu-wrapper {
                .nav-items.active {
                    padding-left: 92px;
                }
            }
            .button-wrapper {
                gap: 8px;
                .lang-wrapper {
                    position: inherit;
                    .lang-dropdown {
                        padding: 10px 15px;
                        .icon {
                            width: 8px;
                        }
                        .flag {
                            width: 18px;
                        }
                        .lang-text {
                            font-size: 12px;
                        }
                    }
                    .lang-list {
                        background-color: colors.$text-light;
                        padding: 16px;
                        width: inherit;
                        left: 24px;
                        right: 24px;
                        top: 30vh;
                        position: fixed;
                        border-radius: 26px;
                        li {
                            background-color: colors.$warm;
                            margin: 8px 0px;
                            padding: 13px 15px;
                            border-radius: 12px;
                            .lang-button {
                                font-size: 16;
                                font-weight: 500;
                                .flag {
                                    width: 35px;
                                }
                            }
                        }
                        .lang-header {
                            background-color: colors.$text-light;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px colors.$text;
                            font-size: 17px;
                            border-radius: 0px;
                            border-bottom: solid 1px colors.$border;
                            padding-bottom: 18px;
                            margin-bottom: 16px;
                            .close-lang {
                                background-color: colors.$warm;
                                border: none;
                                padding: 8px 12px;
                                border-radius: 6px;
                                font-weight: 500;
                                font-size: 18px;
                            }
                        }
                        .lang-button {
                            font-size: 14px;
                            color: colors.$text;
                        }
                    }
                }
            }
        }
    }
}
