* {
    padding: 0px;
    margin: 0px;
    font-family: "Outfit";
}

body,
html {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
h1,
h2,
h3 {
    width: max-content;
}
